/* @author Javier Huang */

body, button, textarea, input {
    font-family: 'Tektur', cursive;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

button {
    background-color: orangered; /* Play button color */
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.background-image {
    position: fixed;
    background: rgba(0, 0, 0, .5) url(./assets/background.png);
    background-blend-mode: darken;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-box {
    background-color: orange; /* Orange box color */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 100px black;
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.name-input {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    border: none;

    border-radius: 5px;
    margin-bottom: 10px;
}

.social-links {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: white;
}

.social-links span {
    padding: 0 5px;
}

.game-canvas {
    display: none;
}
